@charset "utf-8";
/* CSS Document */

body
	{
		margin:0px;
		background-color:#FBF2F1;
	}
	
.selected
	{
		background-color:#F8BABE;
		color:#FFF;
	}

.header
	{
		margin:0px auto;
		height:100px;
		background-color:#F8BABE;
		width:auto;
		padding-left:10px;
	}
	
.header .head_main
	{
		margin:0px auto;
		height:100px;
		background-color:#F8BABE;
		width:900px;
	}

.logo
	{
		float:left;
		width:auto
		height:auto;
	}
.search
	{
		float:right;
		padding:15px;
	}

.enter
	{
		margin:20px auto;
		border-style:none;
		border-radius:7px;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		font-size:15px;
		color:#000000;
		text-align:center;
	}
	
.field
	{
		background-color:#FBE5FB;
		width:900px;
		height:auto;
		margin:10px auto;
		padding:10px;
	}
	
.navigations
	{
		background-color:#FFFFFF;
		margin:0px;
		padding:0px;
		width:auto;
		min-height:30px;
	}
	
.navigations li
	{
		float:left;
		list-style:none;
		padding:0px auto;
		margin:0px auto;
	}
	
.navigations li a
{
		width:auto;
		display:inline-block;
		padding:0px 20px;
		height:26px;
		padding-top:4px;
		text-decoration:none;
		font-size:15px;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#6f007f;
	}
	
.navigations li a:hover
	{
		background-color:#F8BABE;
		color:#FFF;
	}

.clearfix:after
	{
	    display:block;
	    clear:both;
	}
 
/*----- Menu Outline -----*/ 
.menu
	{
	    background-color:#FFFFFF;
		margin:0px;
		width:auto;
		height:30px;
	}
 
.menu li
	{
	    float:left;
		list-style:none;
		padding:0px;
		margin:0px auto;
	}
 
.menu a
	{
	    transition:all linear 0.15s;
		width:auto;
		display:inline-block;
		padding:0px 20px;
		height:26px;
		padding-top:4px;
		text-decoration:none;
		font-size:15px;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#6F007F;
	}
 
.menu li:hover > a
	{
	    background-color:#F8BABE;
		color:#FFF;
	}
 
.menu .arrow
	{
	    font-size:11px;
	    line-height:0%;
	}
 
/*----- Top Level -----*/
.menu > ul > li
	{
		margin:0px auto;
	    float:left;
	    display:inline-block;
	    position:relative;
	    font-size:15px;
	}
 
.menu > ul > li > a
	{
		margin:0px auto;
	    padding:0px auto;
	    display:inline-block;
	}
 
.menu > ul > li:hover > a
	{
	    background:#F8BABE;
	}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu
	{
	    z-index:1;
	    opacity:1;
	}
 
.sub-menu
	{
		background-color:#FFFFFF;
		margin:0px;
		width:120px;
	    padding:0px;
	    position:absolute;
	    top:100%;
	    z-index:-1;
	    opacity:0;
	    transition:opacity linear 0.15s;
	    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	}
 
.sub-menu li
	{	
		margin:0px;
		padding:0px;
		width:120px;
		height:30px;
	    display:block;
	    font-size:15px;
	}
 
.sub-menu li a
	{
		width:auto;
		margin:0px auto;
	    padding:0px 15px;
		display:block;
	}
 
.sub-menu li a:hover
	{
	    background:#F8BABE;
	}
/* -----end------- */

.banner
	{
		width:auto;
		height:300px;
		background-color:#FFFFFF;
		margin:10px auto;
	}
	
.banner img
	{
		height:300px;
		width:900px;
	}
	
.recommended
	{
		background-color:#FFF;
		margin:10px;
		width:auto;
		height:auto;
	}

.recommended img
	{
		padding:0px auto;
		margin:5px;
		width:120px;
		height:105px;
	}
	
.recommended .text
	{
		padding:0px auto;
		margin:5px;
		width:200px;
		height:90px;
	}

.featured
	{
		width:auto;
		height:auto;
		margin:0px;
	}

.featured img
	{
		width:300px;
		height:50px;
	}

.contents
	{
		width:auto;
		min-height:360px;
		background-color:#FFFFFF;
		margin:auto;
	}

.news_feed1
	{
		width:auto;
		height:auto;
		margin:auto;
	}
	
.news_feed1_img img
	{
		padding:20px;
		width:300px;
		height:180px;
		float:left;
	}

.news_feed1_story h1
	{
		font-weight:bold;
		color:#003;
		font-size:16px;
	}

.news_feed1_story
	{
		width:500px;
		height:180px;
		text-align:justify;
		padding-top:20px;
		float:left;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:14px;
	}

.news_feed2
	{
		width:auto;
		height:220px;
		margin:auto;
	}

.news_feed2_img img
	{
		padding:20px;
		width:300px;
		height:180px;
		float:left;
	}

.news_feed2_story h1
	{
		font-weight:bold;
		color:#003;
		font-size:16px;
	}

.news_feed2_story
	{
		width:500px;
		height:180px;
		padding-top:20px;
		float:left;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:14px;	
	}
	
.nutrition
	{
		width:auto;
		height:auto;
		margin:auto;
	}

.nutrition h1
	{
		font-family:'Century Gothic', 'Arial Black', Gadget, sans-serif;
		font-size:20px;
		color:#003;
		padding-top:5px;
		margin:10px;
	}

.nutrition img
	{
		width:720px;
		height:auto;
		margin:10px auto;
	}

.care
	{
		width:auto;
		height:auto;
		margin:auto;
	}

.care h1
	{
		font-family:'Century Gothic', 'Arial Black', Gadget, sans-serif;
		font-size:20px;
		color:#003;
		padding-top:5px;
		margin:10px;
	}

.care img
	{
		width:400px;
		height:auto;
		margin:10px auto;
	}

.shop_title
	{
		width:auto;
		height:25px;
		margin:0px;
	}

.shop_title img
	{
		height:25px;
		margin:5px;
	}
	
.shop_img img
	{
		padding:20px;
		width:300px;
		height:250px;
		float:left;
	}

.shop_story
	{
		width:500px;
		height:auto;
		text-align:justify;
		padding-top:20px;
		float:left;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:14px;
	}

.shop_story h1
	{
		font-weight:bold;
		color:#003;
		font-size:16px;
	}

.shop_story_toy
	{
		margin:0px 2px;
		width:210px;
		min-height:325px;
		text-align:justify;
		padding-top:20px;
		float:left;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:14px;
	}

.shop_story_toy:hover
	{
		transition:all linear 0.25s;
		background:#F8BABE;
	}

.shop_story_toy img
	{
		border:2px #F8BABE dashed;
		margin:0px;
		margin-top:10px;
		width:200px;
		height:200px;
	}

.shop_story_toy_detail
	{
		margin:0px;
		padding:5px;
		width:auto;
		height:auto;
		float:left;
	}


.shop_story_toy_detail h1
	{
		margin:0px 10px;
		font-weight:bold;
		color:#003;
		font-size:16px;
	}

.shop_story_toy_detail p
	{
		margin:0px;
		width:auto;
		height:auto;
		text-align:left;
		float:left;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:14px;
	}

.shop_story_toy p
	{
		vertical-align:bottom;
		text-align:left;
		padding-left:10px;
		margin:10px auto;
	}

.shop_story_toy p a
	{
		color:#333;
		text-decoration:none;
	}

.shop_story_toy p a:hover
	{
		text-decoration:underline;
		color:#F6B2B2;
	}

.shop_link
	{
		width:100%;
		height:30px;
		margin:5px auto;
		padding:0px;
		float:left;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:15px;
	}

.shop_link ul li
	{
		margin:0px auto;
		display:inline-block;
	}

.shop_link li a
	{
		text-decoration:none;
	}

.shop_link li a:hover
	{
		color:#F8BABE;
		text-decoration:underline;
	}

.our_products
	{
		width:auto;
		height:auto;
		margin:10px auto;
	}

.our_products img
	{
		margin:10px;
		float:left;
		width:202px;
		height:auto;
	}

.our_blog h1
	{
		font-weight:bold;
		color:#003;
		font-size:20px;
	}

.our_blog
	{
		margin:10px auto;
		width:700px;
		height:auto;
		text-align:justify;
		padding-top:5px;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#333;
		font-size:14px;
	}

.footer
	{
		margin:0px auto;
		background-color:#F7F7F7;
		height:100px;
		width:auto;
		background-position:bottom;
		position:relative;
	}

.footer .foot_main
	{
		margin:0px auto;
		background-color:#F7F7F7;
		height:100px;
		width:900px;
	}

.company
	{
		float:left;
		width:200px;
		height:80px;
		margin:10px;
	}

.company p
	{
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		color:#999;
		font-size:10px;
	}
	
.FAQs
	{
		float:left;
		width:auto;
		height:80px;
		margin:10px;
	}
	
.FAQs li
	{
		float:left;
		list-style-type:none;
	}
	
.FAQs .copyright
	{
		text-decoration:none;
		font-size:12px;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		padding:0px 20px;
		color:#999; 
	}
	
.FAQs li a
	{
		text-decoration:none;
		font-size:12px;
		font-family:"Century Gothic", "Times New Roman", Times, serif;
		padding:0px 20px;
		color:#999; 
	}
	
.FAQs li a:hover
	{
		text-decoration:underline;
	}